.item-list {
    margin-bottom: 1rem;
}

.item-list .list-group-item {
    cursor: pointer;
}

.item-list .list-group-item:hover {
    background-color: #444;
}

.content-message {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #444
}